header>* {
    font-family: Poppins, sans-serif;
}

header {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 2rem 0;
    /* removed side padding to use container */
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

header img {
    height: 10vmin;
    pointer-events: none;
}

.header-title {
    font-size: 1.4rem;
    font-weight: 500;
}

.header-nav {
    display: flex;
    gap: 2.2rem;
}

.header-nav-list {
    display: flex;
    gap: 1rem;
}

.header-nav-item>a {
    text-decoration: none;
    color: inherit;
}

.header-cta {
    margin-left: 1.5rem;
}

.btn-appointment {
    padding: 0.6rem 1.2rem;
    background-color: midnightblue;
    color: #fff;
    border-radius: 6px;
    font-weight: 600;
    font-family: Poppins, sans-serif;
    transition: background-color 0.s ease;
}

.btn-appointment:hover {
    background-color: #d41515;
}