/* Header Styling */
header>* {
    font-family: Poppins, sans-serif;
}

header {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 2rem 0;
    /* removed side padding to use container */
}

header .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

header img {
    /* Responsive logo using clamp() */
    /* previous css - height: 10vmin;*/
    height: clamp(40px, 8vmin, 70px);

    pointer-events: none;
}

.header-title {
    /* Responsive Font Scaling */
    font-size: clamp(1rem, 2vw, 1.4rem);

    font-weight: 500;
}

.header-nav {
    display: flex;

    /* Responsive Nav Spacing using clamp */
    /* previous css - gap: 2.2rem;*/
    gap: clamp(1rem, 3vw, 2.2rem);
}

.header-nav-list {
    display: flex;

    /* Responsive Nav list Spacing using clamp */
    /* previous css - gap: 2.2rem;*/
    gap: clamp(0.6rem, 2vw, 1rem);
}

.header-nav-item>a {
    text-decoration: none;
    color: inherit;
}

.header-cta {
    margin-left: 1.5rem;
}

.btn-appointment {
    padding: 0.6rem 1.2rem;

    /* Responsive Font Scaling */
    font-size: clamp(0.9rem, 2vw, 1rem);

    background-color: midnightblue;
    color: #fff;
    border-radius: 6px;
    font-weight: 600;
    font-family: Poppins, sans-serif;
    transition: background-color 0.s ease;
}

.btn-appointment:hover {
    background-color: #d41515;
}

/* Hmaburger Menu for Mobile View Screen */
/* Hamburger Button */
.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    background: none;
    border: none;
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    border-radius: 2px;
}



/* Responsive Behavior */
@media screen and (max-width: 768px) {
    .header-nav {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #fff;
        flex-direction: column;
        align-items: center;
        display: none;
        padding: 1rem 0;
        box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
        z-index: 999;
    }

    .header-nav.open {
        display: flex;
    }

    .header-nav-list {
        flex-direction: column;
        gap: 1.2rem;
    }

    .btn-appointment {
        margin-top: 1rem;
    }

    .hamburger {
        display: flex;
    }

    .header-container {
        justify-content: space-between;
    }
}