.landingPage {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #ffffff, #e9b2b2, #9ec29e, #a9a9ca);
    background-size: 400% 400%;
    color: var(--text-color);
    text-align: center;
    padding: 2rem;
    animation: gradientShift 10s ease infinite;
}


@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


.landingPage-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: var(--text-color);
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8);
}

.landingPage-content .logo {
    width: 200px;
    height: auto;
    margin: 1rem auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.landingPage-content p {
    font-size: 1.5rem;
    color: var(--text-color);
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8);
}

.landingPage-buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
}


.btn {
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: 1.2rem;
    text-decoration: none;
    transition: background 0.3s ease, transform 0.2s ease;
}

.btn i {
    margin-right: 0.5rem;
}

.landingPage-buttons {
    color: white;
    font-weight: bold;
    text-shadow: none;
}

.btn-primary {
    background: var(--btn-color);
    color: white;
}

.btn-primary:hover {
    background: var(--btn-color);
    transform: translateY(-2px);
}

.btn-secondary {
    background: var(--background-color);
    color: #2c3e50;
    border: 2px solid white;
}

.btn-secondary:hover {
    background: #ecf0f1;
    color: #2c3e50;
    transform: translateY(-2px);
}

.view-services {
    margin-top: 1.5rem;
    text-align: center;
}

.btn-link {
    font-size: 1rem;
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.btn-link:hover {
    color: #1d6fa5;
    text-decoration: underline;
}

@media (max-width: 768px) {
    .landingPage-content h1 {
        display: none;
    }

    .landingPage-content .logo {
        width: 150px;
        height: auto;
        margin: 0 auto;
        display: block;
    }

    .landingPage-content p {
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
        text-align: center;
    }

    .landingPage-buttons {
        flex-direction: column;
        gap: 0.8rem;
    }

    .btn {
        width: 100%;
        text-align: center;
        padding: 0.8rem 1rem;
        font-size: 1rem;
    }
}