/* GLOBAL RESET & BASE STYLES */
/* Base Color or Global Variables */
:root {
  --primary-color: #2ecc71;
  --secondary-color: #3498db;
  --btn-color: #e74c3c;
  --text-color: #333;
  --background-color: #f4f4f4;
}

/* ===== Global Styles ===== */
*,
::after,
::before,
::backdrop,
::file-selector-button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0 solid;
}

html,
body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
menu {
  list-style: none;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}

img,
video {
  max-width: 100%;
  height: auto;
}